// Royal Brand Configuration
PRODUCT_BUNDLE_IDENTIFIER = uz.ildam.taxiclient2
DISPLAY_NAME = Yalla
APP_ICON_NAME = AppIcon
BRAND_COLOR = #3812CE
DEEP_LINK_SCHEME = ildam
ASSOCIATED_DOMAINS_1 = applinks:ildam.uz
ASSOCIATED_DOMAINS_2 = applinks:www.ildam.uz
ASSOCIATED_DOMAINS_3 = webcredentials:www.ildam.uz
ASSOCIATED_DOMAINS_4 = webcredentials:ildam.uz
SECRET_KEY = 2f52434c-3068-460d-8dbc-5c80599f2db4
Q_SCEMA_TELEGRAM = t.me
